name: Build and push image

on:
  push:
    branches: [ "master" ]

env:
  BACKEND_IMAGE_NAME: skill347/cloud-project-vistula2026:latest
  NGINX_IMAGE_NAME: skill347/cloud-project-vistula2026-nginx:latest

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Backend image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.BACKEND_IMAGE_NAME }}
          provenance: true
          sbom: true

      - name: Build and push Nginx image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.nginx
          push: true
          tags: ${{ env.NGINX_IMAGE_NAME }}
          provenance: true
          sbom: true
